.layout
{
    display: flex;
    flex-direction: column;
}

header, footer
{
    background-color: deepskyblue;
    height: 50px;
}

section
{
    display: flex;
    min-height: calc(100vh - 100px);
}

nav
{
    background-color: mediumspringgreen;
    flex-grow: 2;
}

aside
{
    background-color: deeppink;
    flex-grow: 1;
}

article
{
    flex-grow: 6;
    height: auto;
}

h1
{
    margin: 40px;
    color: gray;
}